# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Django specific
*.log
db.sqlite3
*.sqlite3

# Ignore media and static files (optional)
media/
staticfiles/
*.png
*.jpg
*.jpeg
*.gif

# Ignore VSCode, JetBrains IDE, and Mac system files
.vscode/
.idea/
.DS_Store
